@import '../../../theme/variables';

:host{
  width: 100%;
}

.displayed {
  @include displayFunction();
}

.action-wrapper{
  width: 100%;
  @include displayFunction();

  ion-button {
    width: 30%;
  }
}
