@import '../../../theme/variables';

:host{
  width: 100%;

  .container-card{
    width: 92%;
    margin: 0 auto;
    margin-top: 30px;
  }

  .card-stats-level{
    width: 48%;
    padding: 5px;
    // @include displayFunction();
    div{
      width: 100%;
    }
  }

}
