// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// @import url("https://fonts.googleapis.com/css?family=Raleway");
// $font-family-base: "Raleway", sans-serif !default;

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66,140,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}

// FONT
*{
  // font-family: 'Source Sans Pro', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ion-fab-button{
  --background: #032541;
  border-radius: 50%;
}

//buscador
ion-searchbar{
  --box-shadow: none !important;
  --border-radius: 50px !important;
}

ion-infinite-scroll-content{
  ion-spinner{
    margin-top: 0;
  }
}

ion-spinner {
  display: block;
  position: absolute;
  margin: 0 auto;
  margin-top: 90%;
  margin-left: 45%;
}

ion-header {
  background: #032541;
  width: 100%;
  border: none;
  position: none;

  ion-toolbar{
    width: 100%;
    --background: #032541;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    ion-button{
      width: 10%;
    }
  }
}

ion-title{
  text-align: center;
}

.div-clear{
  width: 10%;
  height: 50px;
}

ion-card-content{
  width: 100%;
}

ion-header{
  box-shadow: none !important;
}

ion-card{
  box-shadow: none;
  box-shadow: 1px 1px 2px  solid gray;
  background: rgba(255,255,255,0.5);
}

.header{
  width: 100%;
  margin-top: 70px;
  text-align: center;
  border: 0px !important;
  border-bottom-color: transparent !important;
  background-image: none !important;
  border-bottom: none !important;
  --border-style: none;

  h1{
    font-weight: bold;
    font-size: 35px;
    color: #3F3844;
    margin-top: 0px;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
  }
  span{
    width: 100%;
  }
  color: #404040;
}

form{
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.color-menu{
  color: #3F3844;
}

.color-menu-second{
  color: #F7F7F7;
}


.header-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  ion-back-button{
    width: 15%;
  }
  h1{
    width: 64%;
    margin: 0 auto;
    text-align: center;
    color: #404040;
  }
  .header-container-empty{
    width: 15%;
    height: 50px;
  }
  h2{
    width: 100%;
  }
}

.hide{
  display: none;
}

.middle-width{
  width: 40%;
}

.item-color{
  color: #404040;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-header{
  width: 100%;
  h2{
    text-align: center;
    color: #404040;
  }
}

.card-stats{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.div-pokemon-learning{
  width: 37%;
}

.card-type{
  min-width: 7em;
  min-height: 2em;
  color: #FFFFFF;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  ion-label{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

ion-virtual-scroll{
   background: white;
}

.card-content{
  width: 100%;
}

.capital-letter{
  text-transform: capitalize;
}

.span-complete{
  min-width: 70%;
  text-align: center;
}

.pokemon-item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center
}

.div-accuracy{
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.error-serve{
  width: 100%;
  height: 500px;
  display: block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;

  div{
    width: 80%;
    text-align: center;
  }
}

// .error-serve{
//   width: 100%;
//   height: 100vh;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;

//   div{
//     width: 80%;
//     text-align: center;
//   }
// }

.redirect{
  color: var(--ion-color-secondary);
}

.span-dark{
  color:#0d0d0d;
}

.complete{
  width: 90%;
  height: 3em;
}

.middle{
  width: 70%;
  height: 3em;
}

.span-white {
  color: #FFFFFF;
  font-weight: bold;
}

.no-data{
  text-align: center;
}

.no-margin{
  margin: 5px;
}

.form-search{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 50px;

  ion-item{
    width: 70%;
  }
  ion-button{
    font-size: 12px;
  }
}

.div-min-height{
  min-height: 30px;
}

ion-refresher {
  margin-top: 50px;

  ion-spinner{
    position: relative;
    display: flex;
    margin: 0;
  }
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

.radius{
  border-radius: 10px;
}

.loadingspinner{
  --color : #3880ff;
}

@mixin displayFunction(){
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fade-in-image {
  animation: fadeIn 2s;
  animation: fadeInUp 0.4s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


@keyframes fadeInUp {
  0% {transform:translateY(60px) scale(0.5,0.5);}
  100% {transform:translateY(0px) scale(1,1);}
}

.green{
  background: #A8EFB1
}

.water{
  background: #85B7FA
}

.bug{
  background: #DEEFA8
}

.dark{
  background: #7F7F7F
}

.dragon{
  background: #829BFF
}

.electric{
  background: #F1E93B
}

.fire{
  background: #F5A76A
}

.fighting{
  background: #CCAB6B
}

.fly{
  background: #D7E4E7
}

.ghost{
  background: #BBA5FF
}

.ground{
  background: #F2D39D
}

.ice{
  background: #B7F0EE
}

.normal{
  background: #E9DED6
}

.poison{
  background:  #A082FF
}

.rock{
  background: #DEC19E
}

.steel{
  background: #CACACA
}

.psychic{
  background: #F7D3F7
}

.fairy{
  background: #E68DE7
}

.none{
  background: #CEB5CD;
}

.physical{
  background: #FA7644
}

.special{
  background: #9AB6D4;
}

.status{
  background: #E5E8EB;
}

.move{
  background: #A0A0A0;
}

.ability{
  background: #CEB5CD;
}
