@import '../../../../theme/variables';

:host{
  width: 100%;
}

ion-card{

  ion-card-content{
    padding: 0px;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
}

ion-avatar{
  width: 4em;
  height: 4em;
  background: white;
}

.type-item{
  width: 100%;
  text-align: center;
}
